* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url(Hbanner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.top-bar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.nav-right {
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    transform: scale(1.1); 
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.welcome-message h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-message a {
    color: white;
    text-decoration: none;
}

.welcome-message a:hover {
    text-decoration: underline;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-form input {
    width: 90%;
    max-width: 300px;
    margin-bottom: 10px;
    height: 30px;
    background-color: black;
    color: white;
}

.login-form button {
    width: 100%;
    max-width: 120px;
    margin-bottom: 10px;
    background-color: black;
    color: aliceblue;
}

.login-form button:hover {
    background-color: white;
    color: black;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login p {
    color: white;
    margin-right: 10px;
}

.social-logog img {
    width: 40px; 
    height: auto;
    margin-right: 10px; 
}

.social-logof img {
    width: 50px; 
    height: 50px;
    margin-right: 10px; 
}
